<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
            <i class="fas fa-user-plus"></i> Créer un compte
        </h1>
        <%- include ('./partiels/messages.ejs') %>
        <form action="/usagers/register" method="POST">
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" id="nom" name="nom" class="form-control" placeholder="Entrez le nom">
            </div>
            <div class="form-group">
                <label for="email">Courriel</label> 
                <input type="email" id="email" name="email" class="form-control" placeholder="Entrez un courriel">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label> 
                <input type="password" id="password" name="password" class="form-control" placeholder="Entrez un mot de passe">
            </div>
            <div class="form-group">
                <label for="password2">Confirmer le mot de passe</label> 
                <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirmez le mot de passe">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Enregistrer le compte</button>
        </form>
        <p class="lead mt-4">Vous avez déjà un compte? <a href="/usagers/login">Se connecter</a></p>
    </div>
</div>
</div>